@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bebas Neue, sans-serif;
  background: whitesmoke;
}
